{% extends 'base.html.twig' %}

{% block title %}My Space{% endblock %}

{% block body %}


<div class="bg_space">

<div class="create_account">

<p class="title_space1">Create an Account</p>

</div>


<div class="connect">

<p class="title_space2">I already have an Account here</p>

</div>

</diV>







{% endblock %}
