{% extends 'base.html.twig' %}

{% block title %}Galleries{% endblock %}

{% block body %}

<div class="header_galleries1">

<div class="title_galleries">

My Creations

</div>

   <div class="new_creations">




</div>

<div class="separator2">You can find some of these Skins / Logos on my <a class=" liens_" style="text-decoration:none; color:#CCFF00;" href="https://discord.gg/EyPjeFS">Discord</a>.</div>

</div>

{% endblock %}
