{% extends 'base.html.twig' %}

{% block title %}Social Networks{% endblock %}

{% block body %}

 <div class="header_home4">

 <p class="title_social"> Social Networks</p>

<hr style="height: 3px; background-color:#CCFF00; width: 80%; border:none; margin-top: 0%; text-align:center;">

   <div class="img_x3soc">


<a href="https://www.youtube.com/channel/UCl0ffUQgB6PUygL31ClzMkw?view_as=subscriber"style="color:#CCFF00;" title="Youtube" class="icon-fa2"> <i class="fab fa-youtube"></i><p class="social_name"> Youtube </p> </a>
<a href="https://www.instagram.com/sam.aloww/?hl=fr" style="color:#CCFF00;" title="Instagram" class="icon-fa2"> <i class="fab fa-instagram"></i><p class="social_name"> Instagram </p> </a>
<a href="https://twitter.com/SamalowW" style="color:#CCFF00;" title="Twitter" class="icon-fa2"> <i class="fab fa-twitter"></i><p class="social_name"> Twitter </p> </a>

</div>

<hr style="height: 3px; background-color:#CCFF00; width: 80%; border:none; margin-top: 10%; text-align:center;">

 <p class="title_social2"> Follow Me !</p>

 <div class="separator1">*You can find me on <a class=" liens_" style="text-decoration:none; color:#CCFF00;" href="https://fr.fiverr.com/samaloww">Fiverr</a> and <a class=" liens_" style="text-decoration:none; color:#CCFF00;" href="https://www.behance.net/samuelmilard">Behance</a> too.</div>







 </div>



{% endblock %}
