{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}

    <div class="header_home">
  <p class="title_home">Welcome on my Website !</p>
  <p class="txt_home">Here, you'll be able to see all of my creations,<br>
  I'll post every weekends my new creations<br>
  ( if I havve some new Logos or "TrackMania" Skins ) !<br>
  Enjoy it ! I wait your feedbacks...
  </p>

    <!--<button class="btn_home_1">
    <a style="text-decoration:none; color: #FFFFFF;" href="#">See More</a>
    </button>-->

  </div>

  <div class="separator1"> </div>

  <div class="header_home2">
  <p class="title_home2">Some Logos</p>

  <div class="img_x3">

  <img class="img_homex3" src="https://cdn.discordapp.com/attachments/686919404985909284/738001433051267172/Logo.jpg">
  <img class="img_homex3" src="https://cdn.discordapp.com/attachments/686919404985909284/738001460431683644/Logo_Complet_V2_jpg.jpg">
  <img class="img_homex3" src="https://cdn.discordapp.com/attachments/686919404985909284/738001892709498890/Logo_BlackWP.jpg">

</div>

  <p class="txt_home2">I'm in Photoshop since my 8.
  I'm a 17 years old french Boy <br>
  You can find me on Fiverr or Behance too !<br>
  Have fun here...
  </p>

    <!--<button class="btn_home_1">
    <a style="text-decoration:none; color: #FFFFFF;" href="#">See More</a>
    </button>-->

  </div>

  <div class="separator1"> </div>

{% endblock %}











