{% extends 'base.html.twig' %}

{% block title %}Albums{% endblock %}

{% block body %}

<div class="creation_category">

    <h2 class="title_cat">TrackMania 2</h2>

    <hr style="height: 2px; background-color:#CCFF00; width: 95%; border:none;; text-align:center;">

    <div class="structure_cat">

<div class="liste_cat">
        <p class="li_category" href="#">exemple</p><hr>
        <p class="li_category" href="#">exemple</p><hr>
        <p class="li_category" href="#">exemple</p><hr>
   </div>

<div class="liste_cat">
        <p class="li_category" href="#">exemple</p><hr>
        <p class="li_category" href="#">exemple</p><hr>
        <p class="li_category" href="#">exemple</p><hr>
   </div>

<div class="liste_cat">
        <p class="li_category" href="#">exemple</p><hr>
        <p class="li_category" href="#">exemple</p><hr>
        <p class="li_category" href="#">exemple</p><hr>
   </div>


        </div>

</div>

{% endblock %}
